.labels{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    color:white;
}

.inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.bg{
    background-color:darkslategrey;
    height: 950px;
    width: 100%;
}

.logo1{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:27%;
    height:50%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 80px;
}

