ul {
  list-style-type: none;
  overflow: hidden;
  width: 100%;
  background-color:darkslategrey;
}

.navTitle {
  float: left;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:black;
}

.active {
  background-color:deeppink;
}

