ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:indigo;
}

.navTitle {
  padding-top: 10 px;
  padding-left: 10 px;
  float: left;
  color: red;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color:crimson;
}

.active {
    background-color:deeppink;
}

